In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'data/landprice2.csv')
df.head()

   Area  Distance  Crime Rate  Price        City
0    89         4        3.84    7.0      Zurich
1    66         1        3.19    5.4      Jeneva
2    78         3        3.78    6.6  Interlaken
3   111         6        3.89    7.4      Jeneva
4    44         1        3.57    4.8      Zurich

In [3]:
df_with_dummies = pd.get_dummies(df, drop_first=True)
df_with_dummies.head()

   Area  Distance  Crime Rate  Price  City_Jeneva  City_Zurich
0    89         4        3.84    7.0            0            1
1    66         1        3.19    5.4            1            0
2    78         3        3.78    6.6            0            0
3   111         6        3.89    7.4            1            0
4    44         1        3.57    4.8            0            1

In [6]:
df_new = df.copy()
df_new['Dummy_City'] = df_new['City'].map({'Zurich': 0, 'Jeneva': 1, 'Interlaken': 2})
df_new.head(10)

   Area  Distance  Crime Rate  Price        City  Dummy_City
0    89         4        3.84    7.0      Zurich           0
1    66         1        3.19    5.4      Jeneva           1
2    78         3        3.78    6.6  Interlaken           2
3   111         6        3.89    7.4      Jeneva           1
4    44         1        3.57    4.8      Zurich           0
5    77         3        3.57    6.4      Zurich           0
6    80         3        3.03    7.0  Interlaken           2
7    66         2        3.51    5.6      Jeneva           1
8   109         5        3.54    7.3      Zurich           0
9    75         3        3.25    6.4      Zurich           0