In [13]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [14]:
df = pd.read_csv(r'data/landprice2.csv')
df.head()

   Area  Distance  Crime Rate  Price        City
0    89         4        3.84    7.0      Zurich
1    66         1        3.19    5.4      Jeneva
2    78         3        3.78    6.6  Interlaken
3   111         6        3.89    7.4      Jeneva
4    44         1        3.57    4.8      Zurich

In [15]:
### alternate code ###
# df_new = df.copy()
# df_new['Dummy_City'] = df_new['City'].map({'Zurich': 0, 'Jeneva': 1, 'Interlaken': 2})
# df_new.head(10)

dummy = pd.get_dummies(df, drop_first=True)
dummy.head()

   Area  Distance  Crime Rate  Price  City_Jeneva  City_Zurich
0    89         4        3.84    7.0            0            1
1    66         1        3.19    5.4            1            0
2    78         3        3.78    6.6            0            0
3   111         6        3.89    7.4            1            0
4    44         1        3.57    4.8            0            1

In [26]:
# define X and y
# alternate code
# X = dummy.loc[:, dummy.columns != 'Price']
X = dummy.loc[:, ~dummy.columns.isin(['Price'])]
y = dummy.loc[:, 'Price']

In [29]:
# train, test, split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [30]:
# initialize regressor
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
y_pred = lin_reg.predict(X_test)
print(y_pred)

[6.17260958 6.26308468 8.0510495  6.43407039 6.84554212 4.97890705
 6.07745447]

In [31]:
# determine r2
r_squared = r2_score(y_test, y_pred)
print(r_squared)

0.5888385604365795