In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB # MultinomialNB, BernoulliNB
# Guassian - continous data
# MultinomialNB - discrete
# BernouliNB - binary

In [14]:
# get data
df = pd.read_csv(r'data/Buy_Book.csv')
df.head(2)

   Age Student  Income    Savings Buy Book
0   43      No  median  Excellent      Yes
1   34     Yes    High       Fair      Yes

In [15]:
# transform the data
for column in df.columns:
    if df[column].dtype == type(object):
        le = LabelEncoder()
        df[column] = le.fit_transform(df[column])
df.head()

   Age  Student  Income  Savings  Buy Book
0   43        0       2        0         1
1   34        1       0        1         1
2   39        1       2        1         1
3   27        1       1        1         1
4   44        0       0        0         1

In [16]:
# determine X and y
X = df.iloc[:, 0:4].values
y = df.iloc[:, -1].values

In [17]:
# trains, test split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.5, random_state=0)

In [18]:
# initialize the classifier
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [19]:
y_pred = classifier.predict(X_test)
print(y_pred)

[0 1 1 1 1 1 1 1 0 1 1 1 1]