In [10]:
import pandas as pd
df = pd.read_csv('data//landprice.csv')
# df.iloc[:,1]
df.head()

   Area of Land in Thousand Sq Foot  Price of Land in Million USD
0                                91                          12.0
1                                66                           7.0
2                                72                           8.0
3                                73                           8.1
4                                60                           7.0